body {
	font-size: 20px;
	color: black;
	font-family: "Verdana";
	background: url("https://images.unsplash.com/photo-1525849306000-cc26ceb5c1d7?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
}

h4 {
	font-size: 60px;
    color: #ffffff;
    font-family: "poppins";
    text-align: center;
    margin: 40px;
    margin-bottom: -23px;
    font-weight: 900;
    text-transform: uppercase;
}

table {
	font-size: 18px;
	color: azure;
	font-family: Arial;
	text-align: center;
}

footer {
	background-color: hwb(0 100% 0% / 0.745);
	backdrop-filter: blur(5px);

	color: white;
	text-align: center;
	z-index: 10;
	margin-bottom: -16px;
	padding: 20px;
}

.Div4 {
    background-color: rgba(0, 0, 0, 0.685);
	backdrop-filter: blur(5px);
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.Div4 a {
	text-decoration: none;
	color: white;
	position: relative;
	font-size: 25px;
	font-family: "poppins";
}

.Div4 a::before {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 100%;
	height: 2px;
	background: #ffffff;
	transform: translate(-50%, -50%) scaleX(0);
	transition: all 0.2s ease;
}

.Div4 a:hover::before {
	transform: translate(-50%, -50%) scaleX(1);
}

* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
	border-radius: 20px;
	overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

.center {
	display: flex;
	justify-content: center;
}

.Bord {
	border-radius: 20px;
}

.TBL {
	display: flex;
	max-width: 1400px;
	padding: 20px;
	margin: auto;
	gap: 20px;
}

.tblLeft,
.tblRight {
	flex: 1;
}

.tblLeft {
	border-radius: 20px;
	backdrop-filter: blur(5px);
	font-size: 28px;
	font-family: "Berlin Sans FB";
	border: 3px solid black;
	padding: 20px;
}

.tblRight{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tblRight img {
	max-width: 100%;
	height: 100%;
	border-radius: 20px;
/*TABLE ROW 2*/
}.TBLB {
	display: flex;
	max-width: 1400px;
	padding: 20px;
	margin: auto;
	gap: 20px;
}

.tblLeftB,
.tblRightB {
	flex: 1;
}

.tblLeftB {
	border-radius: 20px;
	backdrop-filter: blur(5px);
	font-size: 28px;
	font-family: "Berlin Sans FB";
	padding: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.685);

}

.tblRightB{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tblRightB img {
	max-width: 100%;
	height: 100%;
	border-radius: 20px;

}

/*TABLE ROW 3*/
.TBLC {
	display: flex;
	max-width: 1400px;
	padding: 20px;
	margin: auto;
	gap: 20px;
}

.tblLeftC,
.tblRightC {
	flex: 1;
}

.tblLeftC {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.685);
	backdrop-filter: blur(5px);
	font-size: 28px;
	color: white;
	font-family: "Berlin Sans FB";
	padding: 50px;
	max-width: 1350px;
	margin: auto;
}

.tblRightC{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tblRightC img {
	max-width: 100%;
	border-radius: 20px;

}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}